content-pipeline/article-importer.json
{
  "name": "My Blog - 1A - Article Importer",
  "nodes": [
    {
      "parameters": {},
      "id": "8ab244d9-fdaa-4ad3-a238-6392e85d31b5",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        -800
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "article-docs",
        "returnAll": true,
        "options": {}
      },
      "id": "b431a4a7-d04d-4cac-a3ec-4cd927f1684e",
      "name": "List Article Docs",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -1440,
        -800
      ],
      "credentials": {
        "s3": {
          "id": "YOUR_S3_CREDENTIAL_ID",
          "name": "my-blog S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => item.json.Key && item.json.Key.endsWith('.txt'))\n  .map(item => ({\n    json: {\n      filename: item.json.Key,\n      file_url: 'https://YOUR_PROJECT_REF.supabase.co/storage/v1/object/public/article-docs/' + encodeURIComponent(item.json.Key)\n    }\n  }));"
      },
      "id": "6aa88206-f631-4544-bcfe-1320cfc9cbae",
      "name": "Prepare URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        -800
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "articles",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "filename",
              "condition": "eq",
              "keyValue": "={{ $json.filename }}"
            }
          ]
        }
      },
      "id": "aac0855f-374b-4ebc-b8ae-824503128671",
      "name": "Check In DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1008,
        -800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "my-blog-database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-new-file",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "a962b416-760c-40d2-b62c-2361a234dc29",
      "name": "Is New File",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -784,
        -800
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Prepare URLs').item.json.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a71c488a-07f9-43e6-b653-591363ef0cb7",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        -896
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "keepSource": "json"
        }
      },
      "id": "ed1602b8-8abd-4265-af00-bb640d0f9756",
      "name": "Extract Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -336,
        -896
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const filename = $('Prepare URLs').item.json.filename;\nconst doc_url = $('Prepare URLs').item.json.file_url;\nconst content = $json.data || '';\n\nreturn {\n  json: {\n    filename: filename,\n    doc_url: doc_url,\n    content: content,\n    processed: false\n  }\n};"
      },
      "id": "3aaae196-7698-4d4b-86ab-059411c21dd6",
      "name": "Prepare Table Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -896
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PROJECT_REF.supabase.co/rest/v1/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filename: $json.filename, doc_url: $json.doc_url, content: $json.content, processed: false }) }}",
        "options": {}
      },
      "id": "0629e338-3d31-4a55-8aa7-ae805ba37b19",
      "name": "Insert Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -896
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Article Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Article Docs": {
      "main": [
        [
          {
            "node": "Prepare URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare URLs": {
      "main": [
        [
          {
            "node": "Check In DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check In DB": {
      "main": [
        [
          {
            "node": "Is New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New File": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Prepare Table Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Table Fields": {
      "main": [
        [
          {
            "node": "Insert Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": [
    {
      "updatedAt": "2026-05-14T05:01:48.735Z",
      "createdAt": "2026-05-14T05:01:48.735Z",
      "id": "",
      "name": "My Blog"
    }
  ]
}
